 <!-- header -->
 <div class="navbar is-dark">

  <!-- logo -->
  <div class="navbar-brand">
    <a class="navbar-item">
      <nav class="navbar-brand navbar-light" href="#">Fattmerchant</nav>
    </a>
  </div>
   <!-- menu bar -->
   <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item active" routerLink="/home" > Home</a>
      <a class="navbar-item" routerLink="/Login">Login</a>
      
    </div>
  </div>
</div>

<section class="hero is-info is-fullheight is-bold" >    
    <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">Home Page!</h1>
        </div>
    </div>
    </section>
